## Base16 {{scheme-name}}
# Author: {{scheme-author}}

background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0D-hex}}
progress-color=#{{base02-hex}}

[urgency=low]
background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base0D-hex}}
progress-color=#{{base02-hex}}

[urgency=high]
background-color=#{{base00-hex}}
text-color=#{{base08-hex}}
border-color=#{{base0D-hex}}
progress-color=#{{base02-hex}}
